<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextUtils.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome to TextUtils.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Welcome to textUtils!</strong> You can do anything with your text here
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">
      <form action="/analise" method="post">  {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Enter your text here and lets do the magic with your text</label>
          <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="removepunc" type="checkbox" role="switch" id="flexSwitch1">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Remove Punctuations</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="fulcaps" type="checkbox" role="switch" id="flexSwitch2">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Uppercase</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="lowercase" type="checkbox" role="switch" id="flexSwitch3">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Lower case</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="newlinerem" type="checkbox" role="switch" id="flexSwitch4">
          <label class="form-check-label" for="flexSwitchCheckDefault">remove all new lines</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="spacerem" type="checkbox" role="switch" id="flexSwitch5">
          <label class="form-check-label" for="flexSwitchCheckDefault">remove Extra spaces</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" name="charcount" type="checkbox" role="switch" id="flexSwitch6">
          <label class="form-check-label" for="flexSwitchCheckDefault">Count all Characters</label>
        </div>
        <button type="submit" class="btn btn-dark mt-4">Analise</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>